
# Environment variables
# Files
.env
.DS_Store
GEMINI.md
db_tqqq_grid_bot.sqlite
log_tqqq_grid_bot.log

# Folders
__pycache__/
screenshots
TQQQ_1_Minute_Interval_Data-20251104T135117Z-1-001.zip
TQQQ_1_Minute_Interval_Data/
__TQQQ_STRATEGY_personal/
bot_state.json
daily_data.sqlite
frd_sample_etf_TQQQ/
simulation_debug.log
synthetic_data.sqlite
unadjusted_market_data.sqlite
